<p>
    Դասընթացները բախկացած են մի քանի շարունակական փուլերից։ Ցանկացած փուլ կազմված է 6 դասընթացից՝ 45-
    60 րոպե տևողությամբ: Մինչ դասընթացներին մասնակցելը՝ երեխայի հետ կանցկացվի անվճար վարպետության դաս։
    Այսպիսով Ձեր երեխային հնարավորություն կտրվի հասկանալու, արդյո՞ք մեր դասընթացները հետաքրքիր են իր
    համար: Հետաքրքրելու դեպքում մինչ դասընթացների սկիզբը հարկավոր է կատարել վճարում ամբողջ փուլի համար:
</p>
<p>Դասընթացների անցկացման տարբերակները և նրանց առժեքը</p>
<ul style="list-style:none">
    <li>
        Շաբաթական 3 հաճախում – 15․000 դրամ
    </li>
    <li>
        Շաբաթական 2 հաճախում – 18․000 դրամ
    </li>
    <li>
        Շաբաթական 1 հաճախում – 20․000 դրամ
    </li>
</ul>
<p>
    Բացթողնված դասընթացների դեպքում հնարավոր կլինի լրացնել միայն մեկը։ Երեխային գրանցելով դուք
    հաստատում եք, որ ծանոթացել եք պայմաններին և համաձայն եք դրանց հետ:Նորություններին տեղյակ լինելու
    համար հետևեք մեր Ֆեյսբուքյան էջին հետևյալ հղումով` <a href="https://www.facebook.com/CreativeEducationalTechnologies">CET</a>
</p>