
<p>
    The trainings are a series of continuous sessions. Any session consists of six lessons, with a duration of
    45-60 minutes. Before participating in the training, a free master class will be held with the child. So
    your child will be given an opportunity to understand whether our courses are interesting to him. If
    interested, before the start of the course you will need to pay for the whole cycle.
</p>
<p>Training options and their prices:</p>
<ul style="list-style:none">
    <li>
        3 visits per week - 15,000 drams
    </li>
    <li>
        2 visits per week - 18,000 drams
    </li>
    <li>
        1 visit per week - 20,000 drams
    </li>
</ul>
<p>
    In case of missed courses only one can be completed. By registering a child, you confirm that you are
    familiar with the terms and you agree with them.
    Follow our Facebook page for news at: <a href="https://www.facebook.com/CreativeEducationalTechnologies">CET</a>
</p>