@using Resources
@{
    ViewBag.Title = ManageRes.ResetPasswordConfirm;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @ManageRes.PasswordBeenReset @Html.ActionLink(ManageRes.ClickHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
