
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h2>
    Something went wrong when exporting Excel file
</h2>
<h4>
    Please contact to administrator and pass the following message
</h4>
<div style="background-color: Highlight">
    <p>@ViewBag.message</p>
    <p>@ViewBag.StackTrace </p>
</div>